$white: #FDFDFD;
$black: #121212;

$darkgray: #333;
$gray: #5f5f5f;
$mediumgray: #C7C6C5;
$lightgray: #e3e3e3;

// twister colors
$green: #AEB9A0;
$magenta: #75535F;
$coal: #4A4240;
$blue: #505879;
$lightblue: #9BA4B5;
$sand: #E6DED6;
